@import '../../../../static-colors';

::ng-deep .mat-step-header .mat-step-icon-selected {
  background: $accent !important;
}

::ng-deep .mat-bottom-sheet-container {
  min-width: 512px !important;
}

.center {
  display: flex;
  justify-content: space-around;
}

::ng-deep .mat-horizontal-content-container {
  display: none !important;
}

::ng-deep .mat-step-icon {
  height: 40px !important;
  width: 40px !important;
  border-radius: 25% !important;
  background: $primary !important;
}
