<mat-toolbar [ngClass]="{'dark-theme': isDarkTheme | async}">
  <a class="navbar-brand" href="/">
    <i class="swg swg-c3po-3 swg-2x accent"></i>
    <a class="accent title">Security C-3PO</a>
  </a>
  <button mat-icon-button color="accent" (click)="showHelp()"><mat-icon>help</mat-icon></button>
  <span class="fill-remaining-space"></span>
  <span *ngIf="isAuthenticated" style="color: white; margin-right: 35px; font-size: 16px;">{{user?.claims?.name}}</span>
  <span *ngIf="isAuthenticated" class="role">{{user?.role}}</span>
  <button *ngIf="isAuthenticated" type="button" class="btn btn-outline-light" (click)="logout()">LOGOUT</button>

  <!-- Menu Settings -->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon style="color: white;">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="light-theme">
    <!--<button mat-menu-item (click)="$event.stopPropagation()">
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
      <mat-icon>brightness_high</mat-icon>
      <span>Light Mode</span>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
      <mat-icon>brightness_medium</mat-icon>
      <i class="fas fa-moon"></i>
      <span>Dark Mode</span>
    </button>-->

    <!-- Backend status -->
    <div style="display: flex; align-items: center; font-family: Roboto Condensed, sans-serif; justify-content: space-around;
                font-size: 14px; color: rgba(0, 0, 0, 0.87); padding: 0px 16px; height: 48px;">
      <span>Backend</span>
      <span *ngIf="!(pingService.isBackendReachable | async)">OFFLINE</span>
      <span *ngIf="(pingService.isBackendReachable | async)">ONLINE</span>
    </div>

    <!-- Reduce motion -->
    <div style="display: flex; align-items: center; font-family: Roboto Condensed, sans-serif;
                font-size: 14px; color: rgba(0, 0, 0, 0.87); padding: 0px 16px; height: 48px;"
         (click)="$event.stopPropagation();">
      <div style="display: flex; align-items: center; margin-right: 16px;">
        <mat-icon style="color: rgba(0, 0, 0, 0.54); margin-right: 16px;">blur_on</mat-icon>
        <span>Reduce motion</span>
      </div>
      <mat-slide-toggle style="margin-right: 16px;"
        [checked]="isReduceMotion | async"
        (change)="toggleReduceMotion($event.checked)">
      </mat-slide-toggle>
    </div>

    <!-- Toggle dark mode -->
    <div style="display: flex; align-items: center; font-family: Roboto Condensed, sans-serif;
                font-size: 14px; color: rgba(0, 0, 0, 0.87); padding: 0px 16px; height: 48px;"
         (click)="$event.stopPropagation();">
      <div style="display: flex; align-items: center; margin-right: 16px;">
        <mat-icon style="color: rgba(0, 0, 0, 0.54); margin-right: 16px;">brightness_7</mat-icon>
        <span>Light</span>
      </div>
      <mat-slide-toggle style="margin-right: 16px;"
        [checked]="isDarkTheme | async"
        (change)="toggleDarkTheme($event.checked)">
      </mat-slide-toggle>
      <div style="display: flex; align-items: center;">
        <mat-icon style="color: rgba(0, 0, 0, 0.54); margin-right: 16px;">brightness_3</mat-icon>
        <span>Dark</span>
      </div>
    </div>
    <button mat-menu-item (click)="logout()">
      <mat-icon color="accent">logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!--<pre>user: {{user | json}}</pre>-->

<!-- LEGACY (with Bootstrap navbar)
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <i class="swg swg-c3po-3 swg-2x accent"></i>
      <span class="accent title">Security C-3PO</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto" *ngIf="$user">
      <a style="color: white">{{$user.email}}</a>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li class="role" *ngIf="$user">
        <a>Role: {{$user.role}}</a>
      </li>
      <li class="login">
        <a *ngIf="isAuthenticated" class="nav-link" (click)="logout()" style="padding: 0;">
          <button type="button" class="btn btn-outline-light">LOGOUT</button>
        </a>
      </li>
    </ul>
  </div>
</nav>
-->
