<app-project-navigation></app-project-navigation>
<div class="project" style="width: 100%;">
  <div style="float:left; width: 33%">
    <app-category-navigation></app-category-navigation>
  </div>
  <div style="float:right; width: 67%; padding-left: 25px;">
    <app-tests-table></app-tests-table>
    <br>
  </div>
</div>

    <!-- MAT ACCORDION, EXPANSION PANEL -->
    <!--
    <mat-accordion displayMode="flat">
      <mat-expansion-panel *ngFor="let test of tests" class="custom-colored-header" (afterExpand)="openPanel(test.id)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="title"><b>{{test.id}}</b> - {{test.title}}</div>
          </mat-panel-title>
          <mat-panel-description class="my-badges-align">
            <i *ngIf="hasFindings(test.id)" class="fa fa-exclamation-triangle fa-lg red pad-left" style="padding-top: 4px;"></i>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          lazyContent: {{lazyContent}}
          <app-test-status></app-test-status>
          <hr>
          <app-finding></app-finding>
          <div class="align-content-center">
            <mat-spinner color="accent" [diameter]="24" style="margin:0 auto;" *ngIf="!findingsLoaded"></mat-spinner>
          </div>
          <hr>
          <app-comment></app-comment>
          <div class="align-content-center">
            <mat-spinner color="accent" [diameter]="24" style="margin:0 auto;" *ngIf="!commentsLoaded"></mat-spinner>
          </div>
        </ng-template>
        <mat-action-row class="justify-content-around">
          <button mat-stroked-button color="accent" style="font-weight: 700;" (click)="addComment()">ADD COMMENT<i class="fa fa-plus pad-left"></i></button>
          <button mat-flat-button color="warn" (click)="addFinding()">ADD FINDING<i class="fa fa-plus pad-left"></i></button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    -->

  <!-- BOOTSTRAP VERSION -->
  <!--<ng-container *ngIf="securityTestService.securityTests$ | async as tests">
    <div class="accordion" id="accordionExample" style="float:right; width: 67%; padding-left: 25px;">
      <div class="card" *ngFor="let test of tests">
        <div class="card-header" id="heading">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
              <div class="title"><b>{{test.id}}</b> - {{test.title}}</div>
            </button>
          </h5>
        </div>
        <div id="collapse" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </ng-container>-->
