<mat-toolbar>
  <a class="navbar-brand" href="/">
    <i class="swg swg-c3po-3 swg-2x accent"></i>
    <a class="accent title">Security C-3PO</a>
  </a>
  <button mat-icon-button color="accent" (click)="showHelp()"><mat-icon>help</mat-icon></button>
  <span class="fill-remaining-space"></span>
  <span *ngIf="isAuthenticated" style="color: white; margin-right: 35px; font-size: 16px;">{{user?.claims?.name}}</span>
  <span *ngIf="isAuthenticated" class="role">{{user?.role}}</span>
  <button *ngIf="isAuthenticated" type="button" class="btn btn-outline-light" (click)="logout()">LOGOUT</button>
</mat-toolbar>

<!-- LEGACY (with Bootstrap navbar)
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <i class="swg swg-c3po-3 swg-2x accent"></i>
      <span class="accent title">Security C-3PO</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto" *ngIf="user">
      <a style="color: white">{{user.email}}</a>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li class="role" *ngIf="user">
        <a>Role: {{user.role}}</a>
      </li>
      <li class="login">
        <a *ngIf="isAuthenticated" class="nav-link" (click)="logout()" style="padding: 0;">
          <button type="button" class="btn btn-outline-light">LOGOUT</button>
        </a>
      </li>
    </ul>
  </div>
</nav>
-->
