<mat-toolbar>
  <a class="navbar-brand" href="/">
    <i class="swg swg-c3po-3 swg-2x accent"></i>
    <a class="accent title">Security C-3PO</a>
  </a>
  <button mat-icon-button color="accent" (click)="showHelp()"><mat-icon>help</mat-icon></button>
  <span class="fill-remaining-space"></span>
  <span *ngIf="isAuthenticated" style="color: white; margin-right: 35px; font-size: 16px;">{{user?.claims?.name}}</span>
  <span *ngIf="isAuthenticated" class="role">{{user?.role}}</span>
  <button *ngIf="isAuthenticated" type="button" class="btn btn-outline-light" (click)="logout()">LOGOUT</button>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>brightness_high</mat-icon>
      <span>Light Mode</span>
    </button>
    <button mat-menu-item>
      <mat-icon>brightness_medium</mat-icon>
      <i class="fas fa-moon"></i>
      <span>Dark Mode</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

</mat-toolbar>

<!--<pre>user: {{user | json}}</pre>-->

<!-- LEGACY (with Bootstrap navbar)
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <i class="swg swg-c3po-3 swg-2x accent"></i>
      <span class="accent title">Security C-3PO</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto" *ngIf="$user">
      <a style="color: white">{{$user.email}}</a>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li class="role" *ngIf="$user">
        <a>Role: {{$user.role}}</a>
      </li>
      <li class="login">
        <a *ngIf="isAuthenticated" class="nav-link" (click)="logout()" style="padding: 0;">
          <button type="button" class="btn btn-outline-light">LOGOUT</button>
        </a>
      </li>
    </ul>
  </div>
</nav>
-->
