@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

@import '~@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
@import '~@okta/okta-signin-widget/dist/css/okta-theme.css';

@import '~@angular/material/theming';
@include mat-core();

//$custom-primary: mat-palette($mat-deep-orange);
//$custom-primary: mat-palette($mat-blue);
//$custom-primary: mat-palette($mat-blue-grey);
$custom-primary: mat-palette($mat-gray);
//$custom-accent:  mat-palette($mat-cyan);
$custom-accent:  mat-palette($mat-orange);
$custom-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);

$custom-typography: mat-typography-config(
  $font-family: '"Roboto Condensed", sans-serif'
);

@include angular-material-typography($custom-typography);
