@import '~@angular/material/theming';

//$dark-primary: mat-palette($mat-blue-gray);
$dark-primary: mat-palette($mat-green);
//$dark-accent: mat-palette($mat-orange);
$dark-accent: mat-palette($mat-pink);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme(
    $dark-primary,
    $dark-accent,
    $dark-warn
);
