@import '~src/_variables.scss';

.input-label{
  background:rgba(0,0,0,0);
  border:none;
  //cursor: pointer;
  //font-weight: bold;
}

.dialogTitle {
  margin: 0;
  word-wrap: break-spaces;
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
  min-height: 0;
  margin-bottom: -8px;
  padding: 0;
}

.mat-flat-button {
  font-weight: 700;
}

.fix-textarea-scrollbar {
  box-sizing: content-box;
}

.fix-action-row {
  height: 100%;
  display: flex;
  flex-direction: column;
}

//Fix text alignment (NO EFFECT?)
.mat-form-field-infix {
  top: -0.25em;
}

.fix-fa-trash-position {
  margin-bottom: 20px;
}

.spacer {
  flex-grow: 1;
}

hr {
  margin-left: 0;
  margin-right: 0;
}

/*.list-group-item {
  font-family: Roboto Condensed, sans-serif;
  font-size: inherit;
  height: 50px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-group-item .mat-icon-button {
  visibility: hidden;
}

.list-group-item:hover .mat-icon-button {
  visibility: visible;
}*/

.affected-url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -28px;
}

.affected-url .mat-icon-button {
  visibility: hidden;
}

.affected-url:hover .mat-icon-button {
  visibility: visible;
}

.url {
  font-family: Roboto Mono, monospace;
}

.add-url:hover {
  background: #E5E5E5;
  cursor: pointer;
}

.fa-trash {
  color: $warn;
}

.fa-plus {
  color: $accent;
}

::ng-deep .mat-select-value {
  color: $accent;
  font-weight: 700;
}

// hover color
//::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
//  color: $accent;
//}

// active color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $accent;
}

.affected-urls-label {
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: $accent;
}

.full-width {
  width: 100%;
}
