<div *ngIf="!projectsLoaded" class="align-content-center loading" style="height: 100%;">
  <mat-spinner color="accent" [diameter]="24" style="margin:0 auto; top: 50%;"></mat-spinner>
</div>

<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngIf="projectsLoaded">
    <app-new class="example-card new-card"></app-new>
  </mat-grid-tile>
  <!--<mat-grid-tile *ngIf="!projectsLoaded">-->
    <!--<mat-card class="example-card mat-elevation-z6 new-card">-->
      <!--<div class="align-content-center" style="height: 100%;">-->
        <!--<mat-spinner color="accent" [diameter]="24" style="margin:0 auto; top: 45%;"></mat-spinner>-->
      <!--</div>-->
    <!--</mat-card>-->
  <!--</mat-grid-tile>-->
  <ng-container *ngIf="dashboardService.project$ | async as projects">
    <mat-grid-tile *ngFor="let project of projects" [colspan]="1" [rowspan]="1"
                   (click)="onProjectCardClick(project.id)">
      <mat-card class="example-card mat-elevation-z6 project-card">
        <mat-card-header>
          <img mat-card-avatar class="example-header-image" src="../../assets/customer-logo/e-corp.png" alt="?">
          <!--</img>-->
          <mat-card-title>{{project.title}}</mat-card-title>
          <mat-card-subtitle>{{project.client}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <b>ID: </b>{{project.id}}
          <br>
          <b>Created: </b>{{project.createdAt}}
          <br>
          <!--<b>Last modified: </b>?-->
          <b>Tester: </b>{{project.testerName}}
          <br>
          <b>Tests performed: </b><span class="badge badge-dark">? / 90</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
