@import "../../../../static-colors";

.list-group-item:hover {
  background: #E5E5E5;
  cursor: pointer;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

//.badge-secondary {
//  background: $accent;
//  color: white;
//}
