<h1 mat-dialog-title>Security C-3PO</h1>
<div mat-dialog-content>
  <p>Frontend: <b>{{versionFrontend}}</b></p>
  <p>Backend: <b>{{versionBackend}}</b></p>
  <mat-divider></mat-divider>
  <br>
  <p>
    This tool allows a security tester to keep track of the testing progress after
    <a href="https://www.owasp.org/index.php/Category:OWASP_Application_Security_Verification_Standard_Project"
       target="_blank">OWASP ASVS 4.0</a>.
    At this point, the ASVS testing materials are mostly available as Excel and pdf files which have to be sent back
    and forth with the client -- what a tedious task.
    Using a "webified" version of the testing guide would be more fun, right?
    In the current version, only an outline is implemented to give an idea of what this tool is supposed to become.
  </p>
  <mat-divider></mat-divider>
  <br>
  Planned features:
  <ul>
    <li><b>Have fun developing a full-stack web app with modern technologies!</b></li>
    <li>Allow sharing the current progress with the customer.</li>
    <li>Have different user roles and rights to view and modify data.</li>
    <li>Upload screenshots of findings.</li>
    <li>Have automated scanners installed that help the tester get started.</li>
    <li>...</li>
  </ul>
</div>
<!--<div mat-dialog-actions>
  <button mat-flat-button color="accent" (click)="onOkClick()">OK</button>
</div>-->
